* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

body {background-color: rgb(12, 11, 11);}

.background{
	background-image: url(img/headway-F2KRf_QfCqw-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100vh;
    width: 100%;
    position: fixed;              
    z-index: -1; 
}

/* här börjar headerns css*/

header{
	background-color: rgb(19, 17, 17);
	display: flex;
	
	justify-content: space-evenly;
	align-items: center;
	padding: 2em;
	flex-wrap: wrap;
	margin-bottom: 10em;
}
.mellanrum {
	flex-grow: 1;
}
a { 
	text-decoration: none;
	color: rgb(252, 239, 239);
	font-size: 1.4em;
	font-weight:bold
}

.flagga {
	
	margin-right: 1em;
	max-height: 30px;
	max-width: 44px;
}

.event-namn{
	font-size: 3em;
	font-style: italic;
	color: rgb(252, 239, 239);
	
	margin-left: 1em;
	
}

/* .event-namn:hover{
	color: aqua;
} */

.kalender-link{
	margin-right: 10em;
	font-size: 1.4em;
	font-weight: bold;
}

.form-link{
	margin-right: 10em;
	font-size: 1.4em;
	font-weight: bold;
}
a:hover {
	color: aqua;
}

/* .kalender-link:hover {
	color: aqua;
}

.form-link:hover {
	color: aqua;

} */

/* här sluter header css*/


@media (max-width:720px) {
	
	a {
		margin-top: 1em;
		display: flex;
		flex-direction: column;
		
		
		
	}
	
	.titel {
		font-size: 1.2em;
	}
	
	

	

}